<!DOCTYPE html>
<html>
<meta charset='utf8'>
<head>
<link rel="stylesheet" href="stylesheets/styles.css"/>
<link rel="stylesheet" href="stylesheets/avgrund.css"/>

<!-- Library/Shared files -->
<script src="lib/teenyLib.js"></script>
<script src="lib/crafty.js"></script>
<script src="lib/template.js"></script>
<script src="lib/maths.js"></script>
<script src="lib/constants.js"></script>
<script src="lib/los.js"></script>
<script src="lib/tile-dictionary.js"></script>
<script src="lib/clock.js"></script>

<script src="lib/a-star.js"></script>
<script src="lib/flood-fill.js"></script>
<script src="lib/avgrund.js"></script>

<!-- MAPS -->
<script src='maps/level-one.js'></script>

<!-- UI -->
<script src="src/components/ui/console.js"></script>
<script src="src/components/ui/action-view.js"></script>
<script src='src/components/ui/button.js'></script>
<script src="src/components/ui/unit-view.js"></script>
<script src="src/components/ui/spell-view.js"></script>
<script src="src/components/ui/unit-ui-controller.js"></script>
<script src="src/components/ui/game-state-view.js"></script>
<script src="src/components/ui/inventory-view.js"></script>
<script src="src/components/ui/popup-controller.js"></script>

<!-- TOP LEVEL -->
<script src="src/crafty-extensions.js"></script>
<script src='src/components/game.js'></script>
<script src="src/components.js"></script>
<script src="src/board.js"></script>
<script src="src/components/treasure.js"></script>
<script src="src/components/items.js"></script>
<script src="src/components/attributes/stats.js"></script>

<!-- BASE COMPONENTS -->
<script src="src/components/base/actor.js"></script>
<script src="src/components/base/grid.js"></script>
<script src="src/components/tiles.js"></script>

<!-- DICE -->
<script src="src/components/dice.js"></script>

<!-- PLAYER ATTRIBUTES -->
<script src="src/components/attributes/life.js"></script>
<script src="src/components/attributes/moveable.js"></script>
<script src="src/components/attributes/magic.js"></script>
<script src="src/components/attributes/unfettered.js"></script>
<script src="src/components/slotted/slots.js"></script>

<!-- MAGIC -->
<script src="src/components/slotted/spellbook.js"></script>
<script src="src/components/magic/earth/earth.js"></script>
<script src="src/components/magic/earth/heal-body.js"></script>
<script src="src/components/magic/earth/rock-skin.js"></script>
<script src="src/components/magic/earth/pass-walls.js"></script>
<script src="src/components/magic/fire/fire.js"></script>
<script src="src/components/magic/fire/ball-flame.js"></script>
<script src="src/components/magic/fire/courage.js"></script>
<script src="src/components/magic/fire/fire-wrath.js"></script>
<script src="src/components/magic/water/water.js"></script>
<script src="src/components/magic/water/sleep.js"></script>
<script src="src/components/magic/water/veil-mist.js"></script>
<script src="src/components/magic/water/water-healing.js"></script>

<!-- TURNS -->
<script src="src/components/player.js"></script>

<!-- UNITS -->
<script src="src/components/units/npc.js"></script>
<script src="src/components/units/unit.js"></script>
<script src="src/components/units/barbarian.js"></script>
<script src="src/components/units/dwarf.js"></script>
<script src="src/components/units/elf.js"></script>
<script src="src/components/units/wizard.js"></script>
<script src="src/components/units/skeleton.js"></script>
<script src="src/components/units/zombie.js"></script>
<script src="src/components/units/mummy.js"></script>
<script src="src/components/units/goblin.js"></script>
<script src="src/components/units/orc.js"></script>
<script src="src/components/units/chaos_warrior.js"></script>
<script src="src/components/units/fimir.js"></script>
<script src="src/components/units/gargoyle.js"></script>


<!-- SCENES -->
<script src="src/scenes/main.js"></script>
<script src="src/scenes/loading.js"></script>
<script src="src/scenes/game.js"></script>

<!-- TEMPLATES -->
<script type="text/html" id="treasure-template">
  <div class="spell-list-inner text-center">
    <br>
    <h3 class="light-blue">searching for treasure you find...</h3>
    <br>
    <h1 class="red munro-regular column2 center"><%= obj.name %>!</h1>
    <br>
    <div class="<%= obj.type %> center"></div>
    <br>
    <p class='munro-small column2 center txt-white' style='font-size: 19px'><%= obj.desc %></p>
    <br>
    <button type="button" id="close" class='munro-small' >Close</button>
    <br><br>
  </div>
</script>

<script type="text/html" id="unit-view-template">
  <div class="unit-view column3 wall-background" style="border: 3px solid rgb(23, 23, 23);">
    <h1 class="name red munro-regular column2 margin-left-medium"><%= name %></h1>
    <h3 class="flavor txt-white munro-small column2 margin-left-medium" style='font-weight:500'><%= flavor %></h3>

    <div class='stats munro-small'>
      <!--<p style="color: white"><%= type %></p>-->
      <div class='stat column1'>
        <p class="pull-left">attack</p>
        <p class="offset1"><%= attack %></p>
      </div>
      <div class='stat column1'>
        <p class="pull-left">defense</p>
        <p class='defend offset1'><%= defense %></p>
      </div>
      <div class='stat column1'>
        <p class="pull-left">body</p>
        <p class='body offset1'><%= body %></p>
      </div>
      <div class='stat column1'>
        <p class="pull-left">mind</p>
        <p class='mind offset1'><%= mind %></p>
      </div>
      <div class='stat column1'>
        <p class="pull-left">movement</p>
        <p class="offset1"><%= moves %></p>
      </div>

    </div>
  </div>
</script>

<script type="text/html" id="action-buttons-template">
  <div class='column2 action-buttons'>
    <div class="column2" style="margin-bottom: 10px">
      <button class='btn btn-action btn-move' data-action="move" data-title="Move" disabled=true></button>
      <button class='btn btn-action btn-attack' data-action="attack" data-title="Attack" disabled=true></button>
      <button class='btn btn-action btn-spell' data-action="castSpell" data-title="Spell" disabled=true></button>
    </div>
    <div class="column2">
      <button class='btn btn-action btn-search' data-action="search" data-title="Search" disabled=true></button>
      <button class='btn btn-action btn-inv' data-action="inventory" data-title="Items" disabled=true></button>
      <button class='btn btn-action btn-cancel' data-action="cancel" data-title="Cancel" disabled=true></button>
    </div>
  </div>
</script>

<script type="text/html" id="spellbook-template">
  <div class='inventory-list column3' style="z-index:1000000">
    <div class="spell-list-inner">
      <div>
        <span class="torch"></span>
        <h2 class="gold munro-small">SpellBook</h2>
      </div>
      <table class="munro-small">
        <tbody>
          <tr>
            <th>Spell</th>
            <th>School</th>
          </tr>
          <% for (var school in obj) { %>
            <% for (var i = 0; i < obj[school].length; i++) { %>
              <%= disabled = obj[school][i].used ? "spell-item-disabled" : '' %>
              <tr class="spell-item <%= disabled %>" data-school="<%= obj[school][i].school%>" data-name="<%= obj[school][i].id %>">
                <td><%= obj[school][i].name %></td>
                <td><%= school %></td>
                <td><button class="munro-small">Cast</button></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type='text/html' id='inventory-template'>
  <div class='inventory-list'>
    <div>
      <h2 class='gold munro-small text-center'>Inventory</h2>
    </div>
    <div class='cf'></div>
    <table>
      <thead>
        <th>Item</th>
        <th>Qty</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < obj.length; i++) { %>
          <tr class='munro-small gold-bottom-border'>
            <td><%= obj[i].name %></td>
            <td>x<%= obj[i].length %></td>
            <td>
              <button type="button" class="munro-small" data-id="<%= obj[i].id %>" data-stack="<%= obj[i].stack %>">Drink</button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <button id="close" class='munro-small medium-font medium-top-margin' >Close</button>
  </div>
</script>

<script type="text/template" id="game-view-template">
  <div class="column2 blk-bg munro-small txt-white wall-background" style="font-size: 17px;padding:10px">
    <p>Game Time: <span data-bind="playTime"></span></p>
    <br>

    <p>Total Turns: <span data-bind="totalTurns"></span></p>
    <br>

    <p>Current Player: <span data-bind="activePlayer"></span></p>
    <br>

    <p>Acting Unit: <span data-bind="activeUnit"></span></p>
    <br>
    <br>
    <button id="end-turn">End Turn</button>
  </div>
</script>

<script>
  window.addEventListener('load', function() {
    TileDictionary = new TilesTable();
    Crafty.init(1280, 740);
    Crafty.canvas.init();

    //Crafty.scene('Main');
    Crafty.scene('Loading');
  });
</script>
</head>
<body>
  <aside id="default-popup" class="avgrund-popup munro-small txt-white column3"></aside>
  <div class="avgrund-cover"></div>
</body>
</html>
